<!DOCTYPE html>
<html lang="sv-se">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6a0526b489.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="/images/freakyfashion-icon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="/stylesheets/site.min.css">
    <title>Administration</title>
</head>

<body>

    <!-- header section -->
    <%- include("../../partials/admin-header") %>

    <!-- main section -->
    <main>

        <section id="admin-category-details">

            <%- include("../../partials/admin-sidebar") %>

            <div class="content">

                <div class="top-container">
                    <h3><%= category.name %></h3>

                    <div class="buttons">
                        <a href="/admin/categories/<%= category.id %>/edit" class="btn-theme">Redigera</a>
                        <button class="btn-theme" type="button" data-delete="/api/categories/<%= category.id %>/delete">Radera</button>
                    </div>
                </div>

                <div class="bottom-container">
                    <div class="info">
                        <h6>Namn</h6>
                        <p><%= category.name %></p>
                    </div>

                    <div class="info">
                        <h6>Bild</h6>
                        <img src="<%= category.image_url || '/images/placeholder.png' %>" alt="<%= category.name %>">
                    </div>

                    <div class="info">
                        <h6>URL-slug</h6>
                        <p><%= category.slug %></p>
                    </div>

                    <div class="info">
                        <h6 class="h6-extra">Produkter</h6>
                        <div class="categories-view">
                            <div class="category-details">
                                <h6>Namn</h6>
                                <% category.products.forEach(product => { %>
                                    <p>
                                        <a href="/admin/products/<%= product.id %>"><%= product.name %></a>
                                    </p>
                                <% }) %>
                            </div>
                            <div class="category-details">
                                <h6>SKU</h6>
                                <% category.products.forEach(product => { %>
                                    <p><%= product.sku %></p>
                                <% }) %>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

    </main>

    <script src="/js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>